// Variables
$blue: #5ACFFF;
$dkred: #281413;
$black: #211415;
$dkblue: #76949B;
$oj: #F48D5D;
$hover-color: #fff;
$ltblack: rgba(0, 0, 0, 0.3);




//breakpoints for rwd
@mixin phone-res-por-i6 {
	@media only screen and (min-device-width : 320px) and (max-device-width:667px) {
		@content;
	}
}
@mixin phone-res-land-i6 {
	@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape)  {
		@content;
	}
}
@mixin phone-res-por-i5 {
	@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) {
		@content;
	}
}
@mixin phone-res-land-i5 {
	@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) {
		@content;
	}
}
@mixin tablet-both {
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
		@content;
	}
}
@mixin tablet-por {
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  and (orientation:portrait) {
		@content;
	}

}
// @mixin desktop-small {
// 	@media (max-width: 568px) {
// 		@content;
// 	}
// }
//hover effect
@mixin btn-hover-trans {
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}



//spits out social icons, use html to add more
$icons:(twitter, facebook, instagram);
@each $social in $icons {
	.#{$social} {
		background: url("images/#{$social}.png") no-repeat;
		background-size: contain;
	}
}

$shoes:(shoe, shoe-2, shoe-3, shoe-4, shoe-5, shoe-6);
@each $shoe in $shoes {
	.#{$shoe} {
		background: url("images/#{$shoe}.jpg") no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 250px;
		border-bottom: 1px solid black;
		@include phone-res-land-i6 {
			background-position: center;
			height: 100vh;
		}
	}
}