$blue: #5ACFFF;
$dkred: #281413;
$black: #211415;
$dkblue: #76949B;
$oj: #F48D5D;
$hover-color: #fff;
$ltblack: rgba(0, 0, 0, 0.3);

@mixin phone-res {
	@media only screen and (max-width:480px) {
		@content;
	}
}

$icons:(twitter, facebook, instagram);
@each $social in $icons {
	.#{$social} {
		background: url("images/#{$social}.png") no-repeat;
		background-size: contain;
	}
}

header {
	background: linear-gradient($ltblack, $ltblack), url("images/shoesite-bg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
	@include phone-res {
		background-position: 65%;
		height: 400px;		
	}
	nav {
		// background: $darken + 50;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		border-top: 1px solid $dkblue;
		img#logo {
			background-color: $oj;
			width: 75px;
			height: 75px;
			float:left;
			padding: 0 10px 0 10px;
		}
		ul.menu {
			margin-top: 30px;
		}
		ul.menu li {
			list-style: none;
			float: left;
			display: inline;
			padding: 0 10px 0 10px;
			a {
				color: $oj;
				text-decoration: none;
				&:hover {
					color: darken($oj, 5%);
					padding-bottom: 5px;
					border-bottom: 2px solid $oj;
				}
			}
		}
		ul.social-icons {
			margin-right: 10px;
			@include phone-res {
				position: fixed;
				top: 8px;
				right: 0;
				padding: 0;
			}
		}
		ul.social-icons li {
			list-style: none;
			a {
				float:right;
				width: 30px;
				height: 30px;
				margin: -8px 5px 0 0;
				@include phone-res {
					margin: 3px 0;
				}
			}
		}
	}
}



