@import "sassftw";

html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

header {
	background: linear-gradient($ltblack, $ltblack), url("images/shoesite-bg.jpg") no-repeat;
	background-size: cover;
	background-position: 50%;
	background-attachment: fixed;
	width: 100%;
	height: 500px;
	@include phone-res-por-i6 {
		background-attachment: scroll;
		height: 50vh;	
	}
	@include phone-res-land-i6 {
		background-attachment: scroll;
		height: 80vh;
	}
	@include phone-res-land-i5 {
		background-attachment: scroll;
		height: 80vh;
	}
	@include tablet-both {
		background-attachment: scroll;
		height: 50vh;
	}
	h1 {
		color: #fff;
		text-transform: uppercase;
		position: absolute;
		top: 130px;
		left: 120px;
		@include phone-res-por-i6 {
			font-size: 1.5em;
			left: 20px;
		}
		@include phone-res-por-i5 {
			font-size: 1.2em;
		}
		// @include desktop-small {
		// 	// left: default;
		// 	text-align: center;
		// }
	}
	h4 {
		color: #fff;
		position: absolute;
		top: 170px;
		left: 365px;
		text-align: center;
		@include phone-res-por-i6 {
			font-size: 1em;
			top: 160px;
			left: 80px;
			// text-align: center;
		}
		@include phone-res-por-i5 {
			top: 145px;
			left: 75px;
		}
		@include phone-res-land-i6 {
			top: 155px;
			left: 145px;
		}
		@include phone-res-land-i5 {
			top: 150px;
			left: 145px;
		}
	}
	nav {
		width: 100%;
		top: 0;
		left: 0;
		z-index: 9999;
		border-top: 1px solid $dkblue;
		img#logo {
			background-color: $oj;
			width: 75px;
			height: 75px;
			float:left;
			padding: 0 10px 0 10px;
		}
		ul.menu {
			margin-top: 30px;
		}
		ul.menu li {
			list-style: none;
			float: left;
			display: inline;
			padding: 0 10px 0 10px;
			a {
				color: $oj;
				text-decoration: none;
				&:hover {
					color: darken($oj, 5%);
					padding-bottom: 5px;
					border-bottom: 2px solid $oj;
				}
			}
		}
		ul.social-icons {
			margin-right: 10px;
			@include phone-res-por-i6 {
				position: absolute;
				width: 50px;
				top: 8px;
				right: 0;
				padding: 0;
			}
		}
		ul.social-icons li {
			list-style: none;

			a {
				float: right;
				width: 30px;
				height: 30px;
				margin: -8px 5px 0 0;
				@include phone-res-por-i6 {
					margin: 3px 0;
				}
			}
		}
	}
}

section#collection {
	width: 90%;
	margin: 0 auto;
	@include phone-res-por-i6 {
		width: 100%;
	}
	h1 {
		text-align: center;
	}
	h1::before, h1::after {
		content: "";
		display: inline-block;
		height: 5px;
		width: 20%;
		background: $oj;
		margin-top: 0;
	}
	.collection-wrapper {
		text-align: center;
		width: 100%;
	}
	.shoe-container {
		border: 1px solid black;
		margin: 10px;
		width: 400px;
		height: 330px;
		background: transparent;
		display: inline-block;
		@include phone-res-por-i6 {
			background: transparent;
			width: 95%;
		}
		@include phone-res-land-i6 {
			height: 440px;
		}
		@include tablet-por {
			width: 300px;
		}
		.shoe-info {
			margin-left: 10px;
			text-align: left;
			p {
				display: inline-block;
				margin-top: 30px;
			}
			button {
				background: $blue;
				border: none;
				padding: 10px 40px;
				float: right;
				margin-top: 20px;
				margin-right: 20px; 
				&:hover {
					background-color: darken($blue,10%);
					color: black;
				}
			}
			@include phone-res-land-i6 {
				// height: 100px;
			}

		}
	}
}
