.twitter {
  background: url("images/twitter.png") no-repeat;
  background-size: contain; }

.facebook {
  background: url("images/facebook.png") no-repeat;
  background-size: contain; }

.instagram {
  background: url("images/instagram.png") no-repeat;
  background-size: contain; }

#shoe {
  background: url("images/shoe.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px; }

#shoe-2 {
  background: url("images/shoe-2.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px; }

#shoe-3 {
  background: url("images/shoe-3.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px; }

#shoe-4 {
  background: url("images/shoe-4.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px; }

#shoe-5 {
  background: url("images/shoe-5.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px; }

#shoe-6 {
  background: url("images/shoe-6.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px; }

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/shoesite-bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  width: 100%;
  height: 500px; }
  @media only screen and (max-width: 480px) {
    header {
      background-position: 65% -125px;
      height: 40vh; } }
  @media only screen and (min-width: 481px) and (max-width: 586px) {
    header {
      background-position: 75%; } }
  header h1 {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 130px;
    left: 120px; }
    @media only screen and (max-width: 480px) {
      header h1 {
        font-size: 1.5em;
        left: 20px; } }
    @media only screen and (min-width: 481px) and (max-width: 586px) {
      header h1 {
        font-size: 1.5em; } }
  header h4 {
    color: #fff;
    position: absolute;
    top: 170px;
    left: 365px; }
    @media only screen and (max-width: 480px) {
      header h4 {
        font-size: 1em;
        top: 155px;
        left: 150px; } }
    @media only screen and (min-width: 481px) and (max-width: 586px) {
      header h4 {
        font-size: 1em;
        top: 155px;
        left: 250px; } }
  header nav {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    border-top: 1px solid #76949B; }
    header nav img#logo {
      background-color: #F48D5D;
      width: 75px;
      height: 75px;
      float: left;
      padding: 0 10px 0 10px; }
    header nav ul.menu {
      margin-top: 30px; }
    header nav ul.menu li {
      list-style: none;
      float: left;
      display: inline;
      padding: 0 10px 0 10px; }
      header nav ul.menu li a {
        color: #F48D5D;
        text-decoration: none; }
        header nav ul.menu li a:hover {
          color: #f27c45;
          padding-bottom: 5px;
          border-bottom: 2px solid #F48D5D; }
    header nav ul.social-icons {
      margin-right: 10px; }
      @media only screen and (max-width: 480px) {
        header nav ul.social-icons {
          position: absolute;
          width: 50px;
          top: 8px;
          right: 0;
          padding: 0; } }
    header nav ul.social-icons li {
      list-style: none; }
      header nav ul.social-icons li a {
        float: right;
        width: 30px;
        height: 30px;
        margin: -8px 5px 0 0; }
        @media only screen and (max-width: 480px) {
          header nav ul.social-icons li a {
            margin: 3px 0; } }

section#collection {
  width: 90%;
  margin: 0 auto; }
  section#collection h1 {
    text-align: center; }
  section#collection h1::before, section#collection h1::after {
    content: "";
    display: inline-block;
    height: 5px;
    width: 20%;
    background: #F48D5D;
    margin-top: 0; }
  section#collection .shoe-container {
    border: 1px solid black;
    margin-bottom: 15px;
    width: 400px;
    background: #76949B; }
    @media only screen and (max-width: 480px) {
      section#collection .shoe-container {
        background: #5ACFFF;
        width: 100%;
        height: 300px; } }

/*# sourceMappingURL=style.css.map */
